/* css style sheet for content form section of content page */

/* text perameters */
.form {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* box perameters */
input, textarea {
    padding: 4px;
    font-size: 10px;
    color: #777777;
    border: 1px solid #dddddd;
    width: 575px;
    margin-top: 3px;
    margin-bottom: 10px;
 
}

/* text box perameters */
textarea {
    width: 575px;
    height: 90px;
    max-width: 590px;
    line-height: 10px;
}

/* text header perameters */
label {
    color: #777777;
    font-size: 14px;
}

/* submit button perameters */
.submit input {
    width: 150px;
    height: 35px;
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 14px;
    overflow: auto;
    margin-top: 10px;
}

/* highlighting boxes when in use */
input:hover, textarea:hover, .submit:hover
input:focus, textarea:focus, .submit:focus {
    border: 2px solid #dddddd;
}